In [1]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv("0304.csv", index_col=0, parse_dates=['timestamp']).fillna(0)
initial = df['timestamp'].iloc[0].value
df['timestamp'] = df['timestamp'].apply(lambda x: int((x.value - initial) / 10e10) / 3)

In [23]:
df

,Unnamed: 0.1,timestamp,station_id,lane_type,obs_percentage,total_flow,avg_occupancy,avg_speed,lane_0_flow,lane_0_avg_occ,...,lane_6_observed,lane_7_flow,lane_7_avg_occ,lane_7_avg_speed,lane_7_observed,abs_pm,latitude,longitude,lanes,name
124416,0,0.0,715972,OR,100,1.0,0.0010,0.0,1.0,0.0010,...,0,0.0,0.0,0.0,0,40.989,34.120764,-117.888430,1,CITRUS NB
124417,1,1.0,715972,OR,100,2.0,0.0024,0.0,2.0,0.0024,...,0,0.0,0.0,0.0,0,40.989,34.120764,-117.888430,1,CITRUS NB
124418,2,2.0,715972,OR,100,0.0,0.0000,0.0,0.0,0.0000,...,0,0.0,0.0,0.0,0,40.989,34.120764,-117.888430,1,CITRUS NB
124419,3,3.0,715972,OR,100,3.0,0.0028,0.0,3.0,0.0028,...,0,0.0,0.0,0.0,0,40.989,34.120764,-117.888430,1,CITRUS NB
124420,4,4.0,715972,OR,100,5.0,0.0046,0.0,5.0,0.0046,...,0,0.0,0.0,0.0,0,40.989,34.120764,-117.888430,1,CITRUS NB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165883,41467,283.0,775859,FR,100,12.0,0.0044,0.0,8.0,0.0057,...,0,0.0,0.0,0.0,0,39.159,34.127006,-117.917217,2,VERNON
165884,41468,284.0,775859,FR,100,5.0,0.0021,0.0,5.0,0.0042,...,0,0.0,0.0,0.0,0,39.159,34.127006,-117.917217,2,VERNON
165885,41469,285.0,775859,FR,100,2.0,0.0006,0.0,2.0,0.0013,...,0,0.0,0.0,0.0,0,39.159,34.127006,-117.917217,2,VERNON
165886,41470,286.0,775859,FR,100,2.0,0.0006,0.0,2.0,0.0012,...,0,0.0,0.0,0.0,0,39.159,34.127006,-117.917217,2,VERNON
165887,41471,287.0,775859,FR,100,3.0,0.0011,0.0,3.0,0.0023,...,0,0.0,0.0,0.0,0,39.159,34.127006,-117.917217,2,VERNON

In [2]:
a = [1,2,3,3,4]
print(a)
print(list(set(a)))

[1, 2, 3, 3, 4]
[1, 2, 3, 4]

In [24]:
stations = pd.DataFrame(df.groupby(by="station_id", as_index=False)).set_index(0)

In [37]:
stations = pd.DataFrame(df.groupby(by="station_id")).set_index(0)
fr_pm = {}
stations.iloc[0,0]['abs_pm'].iloc[0]
for i in range(len(stations)):
    if stations.iloc[i,0]['lane_type'].iloc[0] == "FR":
        abs_pm = stations.iloc[i,0]['abs_pm'].iloc[0]
        fr_pm[stations.iloc[i,0]['station_id'].iloc[0]] = abs_pm
# print(fr_pm)
# print(len(fr_pm))
station_pm = {}
for i in range(len(stations)):
    abs_pm = stations.iloc[i,0]['abs_pm'].iloc[0]
    station_pm[stations.iloc[i,0]['station_id'].iloc[0]] = abs_pm
# print(station_pm)
fr_nearest_station = {}
for fr in fr_pm:
    nearest_station = max([(station_id, abs_pm) for station_id, abs_pm  in station_pm.items() if (abs_pm < fr_pm[fr] and stations[1].loc[station_id]['lane_type'].iloc[0] != "OR" and stations[1].loc[station_id]['lane_type'].iloc[0] != "FR")], key=lambda x: x[1])
    fr_nearest_station[fr] = nearest_station[0]
print(fr_nearest_station)
for fr in fr_nearest_station:
    if stations[1].loc[fr_nearest_station[fr]]['lane_type'].iloc[0] == "OR" or stations[1].loc[fr_nearest_station[fr]]['lane_type'].iloc[0] == "FR":
        print("[Error: No Main Line Found Before Off-Ramp]")
        exit()

{717651: 717646, 717658: 717654, 717666: 773154, 717671: 717667, 717680: 761214, 717691: 772917, 737480: 717640, 761130: 773193, 761154: 761138, 761167: 761149, 761228: 772903, 763908: 717640, 767650: 716026, 767912: 767895, 768923: 717646, 769139: 771603, 769269: 717633, 769272: 717635, 771605: 772966, 774990: 772872, 775859: 772887}

In [39]:
fr_split_ratios = {}
k=0
for fr, ml in fr_nearest_station.items():
    k+=1
#     print(df[df['station_id']==fr]['total_flow'])
#     print(df[df['station_id']==ml]['total_flow'])
#     print(df[df['station_id']==fr]['total_flow'].divide(df[df['station_id']==ml]['total_flow'].values))
#     print(df[df['station_id']==ml])
    temp = pd.Series([0] * 48, index=list(range(0,48)), name='split_ratio')
    # update on half-hour basis
    for i in range(0, 48):
        if sum(df[df['station_id']==ml]['total_flow'].values[i:i+6]) == 0:
            temp.loc[i] = 0
            continue
        temp.loc[i] = sum(df[df['station_id']==fr]['total_flow'].values[i:i+6]) / sum(df[df['station_id']==ml]['total_flow'].values[i:i+6])
    fr_split_ratios[fr] = temp
fr_split_ratios

{717651: 0     0.019549
 1     0.025335
 2     0.026194
 3     0.020313
 4     0.020767
 5     0.024306
 6     0.020408
 7     0.009804
 8     0.013834
 9     0.014228
 10    0.019780
 11    0.018059
 12    0.021322
 13    0.026846
 14    0.031250
 15    0.027295
 16    0.034568
 17    0.040609
 18    0.039773
 19    0.042169
 20    0.039157
 21    0.049231
 22    0.035948
 23    0.035599
 24    0.042208
 25    0.035948
 26    0.030928
 27    0.021127
 28    0.014235
 29    0.007519
 30    0.000000
 31    0.003774
 32    0.003717
 33    0.007246
 34    0.007143
 35    0.021429
 36    0.020979
 37    0.017361
 38    0.016181
 39    0.019108
 40    0.017857
 41    0.013812
 42    0.013333
 43    0.012531
 44    0.012788
 45    0.012255
 46    0.012107
 47    0.004515
 Name: split_ratio, dtype: float64,
 717658: 0     0.050290
 1     0.045455
 2     0.064516
 3     0.064965
 4     0.071605
 5     0.076705
 6     0.069697
 7     0.079755
 8     0.072785
 9     0.069767
 10    0.062731
 11    0.065385
 12    0.078652
 13    0.068273
 14    0.076000
 15    0.080769
 16    0.096154
 17    0.097276
 18    0.089744
 19    0.088235
 20    0.075893
 21    0.057143
 22    0.042453
 23    0.051402
 24    0.066964
 25    0.076531
 26    0.064677
 27    0.065327
 28    0.057895
 29    0.021858
 30    0.012195
 31    0.016760
 32    0.038043
 33    0.060109
 34    0.072626
 35    0.074866
 36    0.072165
 37    0.067708
 38    0.046875
 39    0.025126
 40    0.014019
 41    0.017857
 42    0.021008
 43    0.030769
 44    0.036765
 45    0.035461
 46    0.033445
 47    0.024390
 Name: split_ratio, dtype: float64,
 717666: 0     0.047346
 1     0.044006
 2     0.044481
 3     0.048658
 4     0.050450
 5     0.049702
 6     0.051064
 7     0.064516
 8     0.067227
 9     0.063636
 10    0.064356
 11    0.063158
 12    0.072222
 13    0.064789
 14    0.060060
 15    0.066860
 16    0.066092
 17    0.069277
 18    0.067278
 19    0.057508
 20    0.060897
 21    0.057554
 22    0.065455
 23    0.058621
 24    0.057627
 25    0.062271
 26    0.051793
 27    0.038462
 28    0.033708
 29    0.019455
 30    0.019920
 31    0.021505
 32    0.020690
 33    0.024138
 34    0.025362
 35    0.024306
 36    0.028986
 37    0.068182
 38    0.064057
 39    0.094737
 40    0.096774
 41    0.106383
 42    0.105714
 43    0.074271
 44    0.090439
 45    0.073791
 46    0.069479
 47    0.063205
 Name: split_ratio, dtype: float64,
 717671: 0     0.072886
 1     0.075501
 2     0.077944
 3     0.107325
 4     0.107914
 5     0.113772
 6     0.113043
 7     0.107692
 8     0.091518
 9     0.055944
 10    0.046753
 11    0.059621
 12    0.058997
 13    0.055394
 14    0.071217
 15    0.090090
 16    0.080838
 17    0.089457
 18    0.092308
 19    0.097720
 20    0.087662
 21    0.058608
 22    0.074733
 23    0.058219
 24    0.053333
 25    0.049123
 26    0.052239
 27    0.077739
 28    0.066667
 29    0.089219
 30    0.095057
 31    0.089606
 32    0.100719
 33    0.081272
 34    0.078067
 35    0.059028
 36    0.061594
 37    0.055970
 38    0.035088
 39    0.030405
 40    0.027523
 41    0.023188
 42    0.018919
 43    0.025510
 44    0.031785
 45    0.031863
 46    0.039900
 47    0.046404
 Name: split_ratio, dtype: float64,
 717680: 0      2.000000
 1      2.464286
 2      2.625000
 3      3.263158
 4      3.500000
 5      3.666667
 6      4.307692
 7      3.500000
 8      3.250000
 9      2.526316
 10     2.235294
 11     1.944444
 12     2.176471
 13     2.437500
 14     2.642857
 15     2.642857
 16     2.769231
 17     4.750000
 18     5.500000
 19     6.200000
 20     6.000000
 21    16.500000
 22    19.500000
 23    17.000000
 24     8.000000
 25     7.750000
 26     7.500000
 27     6.000000
 28     4.600000
 29     5.600000
 30    10.333333
 31     7.750000
 32     7.500000
 33     7.750000
 34     9.666667
 35     9.666667
 36     5.200000
 37    14.500000
 38    14.000000
 39     7.250000
 40     4.571429
 41     3.571429
 42     7.000000
 43     6.600000
 44     6.200000
 45     5.333333
 46     9.666667
 47    10.666667
 Name: split_ratio, dtype: float64,
 717691: 0     0.056136
 1     0.042408
 2     0.047682
 3     0.053719
 4     0.054676
 5     0.056464
 6     0.049459
 7     0.052718
 8     0.049360
 9     0.042202
 10    0.044444
 11    0.034549
 12    0.033543
 13    0.031447
 14    0.039130
 15    0.038877
 16    0.041667
 17    0.055024
 18    0.055422
 19    0.058511
 20    0.047887
 21    0.052632
 22    0.049536
 23    0.030303
 24    0.031250
 25    0.024540
 26    0.030675
 27    0.028090
 28    0.034783
 29    0.032345
 30    0.044910
 31    0.054755
 32    0.052055
 33    0.046832
 34    0.042328
 35    0.041131
 36    0.031630
 37    0.028436
 38    0.027149
 39    0.030093
 40    0.027368
 41    0.031579
 42    0.023810
 43    0.024440
 44    0.026423
 45    0.025048
 46    0.019531
 47    0.020221
 Name: split_ratio, dtype: float64,
 737480: 0     0.079258
 1     0.070470
 2     0.074324
 3     0.069536
 4     0.074013
 5     0.076522
 6     0.078571
 7     0.078755
 8     0.063098
 9     0.058824
 10    0.075610
 11    0.065693
 12    0.050459
 13    0.055825
 14    0.071782
 15    0.093434
 16    0.070175
 17    0.071429
 18    0.102941
 19    0.103550
 20    0.093656
 21    0.069486
 22    0.061728
 23    0.075862
 24    0.051370
 25    0.027682
 26    0.031034
 27    0.041379
 28    0.047297
 29    0.044521
 30    0.037288
 31    0.040678
 32    0.043478
 33    0.038732
 34    0.065789
 35    0.072555
 36    0.081967
 37    0.094771
 38    0.072886
 39    0.075881
 40    0.047222
 41    0.035813
 42    0.035897
 43    0.028777
 44    0.034853
 45    0.027848
 46    0.034314
 47    0.035294
 Name: split_ratio, dtype: float64,
 761130: 0     0.039271
 1     0.034024
 2     0.042879
 3     0.049423
 4     0.055556
 5     0.053803
 6     0.048000
 7     0.069815
 8     0.061856
 9     0.053879
 10    0.042129
 11    0.046083
 12    0.049528
 13    0.045455
 14    0.050119
 15    0.053435
 16    0.058333
 17    0.055718
 18    0.047198
 19    0.044444
 20    0.030100
 21    0.039088
 22    0.041543
 23    0.047761
 24    0.051724
 25    0.038462
 26    0.038806
 27    0.029851
 28    0.033333
 29    0.029221
 30    0.030508
 31    0.023179
 32    0.023102
 33    0.025974
 34    0.017422
 35    0.031746
 36    0.028846
 37    0.028846
 38    0.036474
 39    0.035616
 40    0.032020
 41    0.023529
 42    0.017032
 43    0.024631
 44    0.018059
 45    0.014184
 46    0.017978
 47    0.012903
 Name: split_ratio, dtype: float64,
 761154: 0      3.181818
 1      2.636364
 2      2.900000
 3      3.000000
 4      3.666667
 5      7.000000
 6      3.571429
 7      4.000000
 8      3.833333
 9      5.750000
 10     5.000000
 11     4.250000
 12    15.000000
 13    14.000000
 14    17.000000
 15    18.000000
 16     0.000000
 17     0.000000
 18     9.500000
 19    12.500000
 20    11.500000
 21    11.500000
 22    12.000000
 23     9.500000
 24     0.000000
 25     0.000000
 26     0.000000
 27     0.000000
 28     0.000000
 29     0.000000
 30     0.000000
 31     0.000000
 32     9.000000
 33     7.666667
 34     8.000000
 35     5.000000
 36     5.250000
 37     4.000000
 38     4.000000
 39     3.666667
 40     5.666667
 41     8.500000
 42    11.000000
 43    11.000000
 44     7.666667
 45     9.333333
 46     9.000000
 47     5.400000
 Name: split_ratio, dtype: float64,
 761167: 0      1.750000
 1      0.769231
 2      0.923077
 3      1.166667
 4      1.100000
 5      1.375000
 6      1.333333
 7      1.625000
 8      1.666667
 9      2.500000
 10     4.666667
 11     3.750000
 12     5.000000
 13     3.200000
 14     3.200000
 15     2.800000
 16     3.000000
 17     5.000000
 18     1.800000
 19     2.333333
 20     2.333333
 21     3.000000
 22     3.000000
 23    16.333333
 24     0.000000
 25     0.000000
 26     0.000000
 27     0.000000
 28     0.000000
 29     0.000000
 30     0.000000
 31     0.000000
 32     0.000000
 33     7.000000
 34     7.000000
 35     2.500000
 36     1.500000
 37     1.500000
 38     0.750000
 39     1.666667
 40     8.333333
 41     6.500000
 42     3.857143
 43     4.000000
 44     4.666667
 45     4.333333
 46     1.333333
 47     1.500000
 Name: split_ratio, dtype: float64,
 761228: 0     0.090331
 1     0.086898
 2     0.087601
 3     0.077778
 4     0.059942
 5     0.066461
 6     0.072131
 7     0.078992
 8     0.075838
 9     0.073874
 10    0.084063
 11    0.076786
 12    0.060264
 13    0.060837
 14    0.052838
 15    0.068493
 16    0.057940
 17    0.055066
 18    0.062500
 19    0.075061
 20    0.084399
 21    0.059459
 22    0.068493
 23    0.065903
 24    0.073446
 25    0.044944
 26    0.039039
 27    0.053254
 28    0.059880
 29    0.066667
 30    0.054313
 31    0.065015
 32    0.054441
 33    0.057143
 34    0.047619
 35    0.054348
 36    0.056122
 37    0.053299
 38    0.065327
 39    0.061425
 40    0.047085
 41    0.033408
 42    0.027601
 43    0.027027
 44    0.025000
 45    0.017578
 46    0.021696
 47    0.028302
 Name: split_ratio, dtype: float64,
 763908: 0     0.050590
 1     0.040268
 2     0.054054
 3     0.051325
 4     0.049342
 5     0.050435
 6     0.051786
 7     0.058608
 8     0.045889
 9     0.044118
 10    0.046341
 11    0.046229
 12    0.032110
 13    0.026699
 14    0.024752
 15    0.020202
 16    0.027569
 17    0.020408
 18    0.023529
 19    0.044379
 20    0.042296
 21    0.042296
 22    0.040123
 23    0.044828
 24    0.044521
 25    0.020761
 26    0.024138
 27    0.024138
 28    0.023649
 29    0.017123
 30    0.016949
 31    0.020339
 32    0.016722
 33    0.017606
 34    0.009868
 35    0.012618
 36    0.026230
 37    0.022876
 38    0.014577
 39    0.018970
 40    0.019444
 41    0.022039
 42    0.023077
 43    0.028777
 44    0.042895
 45    0.035443
 46    0.039216
 47    0.051765
 Name: split_ratio, dtype: float64,
 767650: 0     0.0
 1     0.0
 2     0.0
 3     0.0
 4     0.0
 5     0.0
 6     0.0
 7     0.0
 8     0.0
 9     0.0
 10    0.0
 11    0.0
 12    0.0
 13    0.0
 14    0.0
 15    0.0
 16    0.0
 17    0.0
 18    0.0
 19    0.0
 20    0.0
 21    0.0
 22    0.0
 23    0.0
 24    0.0
 25    0.0
 26    0.0
 27    0.0
 28    0.0
 29    0.0
 30    0.0
 31    0.0
 32    0.0
 33    0.0
 34    0.0
 35    0.0
 36    0.0
 37    0.0
 38    0.0
 39    0.0
 40    0.0
 41    0.0
 42    0.0
 43    0.0
 44    0.0
 45    0.0
 46    0.0
 47    0.0
 Name: split_ratio, dtype: float64,
 767912: 0     0.625000
 1     0.500000
 2     0.548387
 3     0.607143
 4     0.772727
 5     0.894737
 6     0.818182
 7     1.000000
 8     0.782609
 9     0.818182
 10    0.857143
 11    0.809524
 12    0.800000
 13    0.736842
 14    0.750000
 15    0.812500
 16    0.866667
 17    0.785714
 18    1.000000
 19    1.500000
 20    2.222222
 21    2.777778
 22    3.750000
 23    4.571429
 24    5.000000
 25    4.600000
 26    3.833333
 27    3.000000
 28    1.428571
 29    1.833333
 30    1.857143
 31    2.666667
 32    2.166667
 33    2.166667
 34    2.500000
 35    1.750000
 36    2.666667
 37    2.500000
 38    0.000000
 39    0.000000
 40    4.000000
 41    3.333333
 42    2.333333
 43    3.000000
 44    2.000000
 45    1.500000
 46    1.500000
 47    2.750000
 Name: split_ratio, dtype: float64,
 768923: 0     0.030075
 1     0.022355
 2     0.026194
 3     0.026562
 4     0.038339
 5     0.036458
 6     0.038961
 7     0.045098
 8     0.043478
 9     0.042683
 10    0.039560
 11    0.031603
 12    0.034115
 13    0.035794
 14    0.028846
 15    0.024814
 16    0.014815
 17    0.027919
 18    0.019886
 19    0.030120
 20    0.036145
 21    0.046154
 22    0.055556
 23    0.045307
 24    0.051948
 25    0.042484
 26    0.037801
 27    0.038732
 28    0.032028
 29    0.026316
 30    0.035433
 31    0.041509
 32    0.040892
 33    0.036232
 34    0.042857
 35    0.050000
 36    0.041958
 37    0.055556
 38    0.051780
 39    0.050955
 40    0.050595
 41    0.066298
 42    0.066667
 43    0.047619
 44    0.051151
 45    0.049020
 46    0.046005
 47    0.027088
 Name: split_ratio, dtype: float64,
 769139: 0     0.076046
 1     0.072243
 2     0.072519
 3     0.080000
 4     0.087398
 5     0.084967
 6     0.075431
 7     0.090024
 8     0.092545
 9     0.085714
 10    0.081081
 11    0.078873
 12    0.084416
 13    0.062295
 14    0.063973
 15    0.070423
 16    0.082143
 17    0.064982
 18    0.068345
 19    0.076923
 20    0.076336
 21    0.067925
 22    0.045627
 23    0.053498
 24    0.060086
 25    0.057522
 26    0.050228
 27    0.072464
 28    0.090000
 29    0.086758
 30    0.079646
 31    0.071749
 32    0.069264
 33    0.050633
 34    0.050420
 35    0.050000
 36    0.052846
 37    0.052846
 38    0.076923
 39    0.086066
 40    0.070312
 41    0.077220
 42    0.072519
 43    0.066176
 44    0.047794
 45    0.042403
 46    0.041096
 47    0.025806
 Name: split_ratio, dtype: float64,
 769269: 0     0.048558
 1     0.052317
 2     0.056782
 3     0.057003
 4     0.056673
 5     0.060665
 6     0.051136
 7     0.041176
 8     0.028283
 9     0.030303
 10    0.033040
 11    0.032634
 12    0.029268
 13    0.048469
 14    0.062176
 15    0.059322
 16    0.063636
 17    0.059172
 18    0.059880
 19    0.043478
 20    0.039474
 21    0.038462
 22    0.029032
 23    0.028662
 24    0.023569
 25    0.026820
 26    0.015810
 27    0.025180
 28    0.025271
 29    0.029851
 30    0.042857
 31    0.032362
 32    0.037152
 33    0.033113
 34    0.031153
 35    0.024845
 36    0.019108
 37    0.034268
 38    0.028037
 39    0.023392
 40    0.031250
 41    0.028490
 42    0.030986
 43    0.019231
 44    0.019774
 45    0.019608
 46    0.018277
 47    0.023196
 Name: split_ratio, dtype: float64,
 769272: 0     0.159551
 1     0.170732
 2     0.187692
 3     0.181250
 4     0.157895
 5     0.227907
 6     0.219512
 7     0.195745
 8     0.180769
 9     0.145455
 10    0.171429
 11    0.138710
 12    0.132258
 13    0.138182
 14    0.127273
 15    0.125000
 16    0.106667
 17    0.136842
 18    0.138095
 19    0.145098
 20    0.220000
 21    0.208889
 22    0.195556
 23    0.187234
 24    0.231579
 25    0.221429
 26    0.144828
 27    0.219048
 28    0.266667
 29    0.300000
 30    0.247059
 31    0.238095
 32    0.260000
 33    0.244444
 34    0.210000
 35    0.157895
 36    0.213333
 37    0.216667
 38    0.133333
 39    0.200000
 40    0.133333
 41    0.105882
 42    0.076923
 43    0.060465
 44    0.063158
 45    0.042105
 46    0.074286
 47    0.100000
 Name: split_ratio, dtype: float64,
 771605: 0     0.062937
 1     0.063927
 2     0.055427
 3     0.053269
 4     0.052758
 5     0.046036
 6     0.048469
 7     0.039773
 8     0.047761
 9     0.042296
 10    0.043887
 11    0.039867
 12    0.051661
 13    0.056818
 14    0.050000
 15    0.048193
 16    0.044898
 17    0.050847
 18    0.050000
 19    0.047210
 20    0.056769
 21    0.053942
 22    0.047009
 23    0.057018
 24    0.049774
 25    0.041284
 26    0.033493
 27    0.044776
 28    0.039024
 29    0.027907
 30    0.023697
 31    0.033333
 32    0.031963
 33    0.028571
 34    0.033333
 35    0.037383
 36    0.040909
 37    0.039301
 38    0.033195
 39    0.031621
 40    0.030189
 41    0.031008
 42    0.026820
 43    0.037453
 44    0.043478
 45    0.038462
 46    0.039526
 47    0.038168
 Name: split_ratio, dtype: float64,
 774990: 0     0.074713
 1     0.062319
 2     0.064516
 3     0.064976
 4     0.065109
 5     0.057096
 6     0.080000
 7     0.078505
 8     0.081028
 9     0.074380
 10    0.070664
 11    0.071259
 12    0.071759
 13    0.078049
 14    0.064815
 15    0.063232
 16    0.059102
 17    0.059701
 18    0.039788
 19    0.045213
 20    0.051913
 21    0.045326
 22    0.042813
 23    0.042493
 24    0.034384
 25    0.037681
 26    0.047904
 27    0.056380
 28    0.061625
 29    0.064897
 30    0.086705
 31    0.076696
 32    0.074286
 33    0.074176
 34    0.077540
 35    0.075325
 36    0.065657
 37    0.070922
 38    0.077295
 39    0.099515
 40    0.101617
 41    0.128035
 42    0.148472
 43    0.150538
 44    0.143443
 45    0.121429
 46    0.121528
 47    0.111831
 Name: split_ratio, dtype: float64,
 775859: 0     0.036058
 1     0.033457
 2     0.025381
 3     0.028986
 4     0.024079
 5     0.019858
 6     0.024922
 7     0.032051
 8     0.038721
 9     0.047138
 10    0.045997
 11    0.044092
 12    0.039655
 13    0.036332
 14    0.035775
 15    0.019366
 16    0.022222
 17    0.027888
 18    0.024845
 19    0.024444
 20    0.025287
 21    0.037915
 22    0.038095
 23    0.027714
 24    0.033097
 25    0.033573
 26    0.033766
 27    0.023188
 28    0.016438
 29    0.025788
 30    0.027439
 31    0.033742
 32    0.026316
 33    0.026810
 34    0.032698
 35    0.031662
 36    0.025974
 37    0.021898
 38    0.021739
 39    0.019900
 40    0.014423
 41    0.012136
 42    0.018182
 43    0.014118
 44    0.014528
 45    0.019737
 46    0.023861
 47    0.026157
 Name: split_ratio, dtype: float64}

In [41]:
sum(stations.apply(lambda x: len(x)==1, axis=1))

144

In [48]:
sum(stations==288) == len(stations)

True

In [15]:
df[df['abs_pm'] == min(df['abs_pm'])]['station_id'].iloc[0]

717631

In [29]:
initial = df['timestamp'].iloc[0].value
df['timestamp'] = df['timestamp'].apply(lambda x: ( (x.value - initial) / 10e10) / 3)

In [32]:
df.sort_values('timestamp')

,Unnamed: 0.1,timestamp,station_id,lane_type,obs_percentage,total_flow,avg_occupancy,avg_speed,lane_0_flow,lane_0_avg_occ,...,lane_6_observed,lane_7_flow,lane_7_avg_occ,lane_7_avg_speed,lane_7_observed,abs_pm,latitude,longitude,lanes,name
124416,0,0.0,715972,OR,100,1.0,0.0010,0.0,1.0,0.0010,...,0,0.0,0.0,0.0,0,40.989,34.120764,-117.888430,1,CITRUS NB
131904,7488,0.0,717658,FR,100,4.0,0.0035,0.0,4.0,0.0070,...,0,0.0,0.0,0.0,0,30.299,34.148554,-118.064055,2,MICHILLINDA
158400,33984,0.0,771605,FR,100,6.0,0.0061,0.0,6.0,0.0061,...,0,0.0,0.0,0.0,0,45.949,34.119720,-117.803812,1,SAN DIMAS AVE
131616,7200,0.0,717654,ML,100,75.0,0.0168,66.6,2.0,0.0015,...,0,0.0,0.0,0.0,0,30.029,34.148522,-118.068683,4,ROSEMEAD 1
158688,34272,0.0,771606,HV,100,10.0,0.0065,65.0,10.0,0.0065,...,0,0.0,0.0,0.0,0,45.949,34.119720,-117.803812,1,SAN DIMAS AVE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151487,27071,287.0,767896,ML,100,103.0,0.0304,68.0,38.0,0.0237,...,0,0.0,0.0,0.0,0,47.789,34.119372,-117.771695,3,BIXBY DR
151199,26783,287.0,767895,HV,100,10.0,0.0068,64.9,10.0,0.0068,...,0,0.0,0.0,0.0,0,47.789,34.119372,-117.771695,1,BIXBY DR
150911,26495,287.0,767884,OR,100,1.0,0.0009,0.0,1.0,0.0009,...,0,0.0,0.0,0.0,0,47.289,34.119703,-117.780403,1,FOOTHILL BL
152639,28223,287.0,767926,OR,100,0.0,0.0000,0.0,0.0,0.0000,...,0,0.0,0.0,0.0,0,48.489,34.119291,-117.759529,1,FRUIT ST
165887,41471,287.0,775859,FR,100,3.0,0.0011,0.0,3.0,0.0023,...,0,0.0,0.0,0.0,0,39.159,34.127006,-117.917217,2,VERNON